body {
  background-image: url("/resources/login_and_register_images/login_screen_background.png");

  font-family: "Poppins", sans-serif;
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcomeBody {
  background-image: url("/resources/login_and_register_images/login_screen_background.png");
  font-family: "Poppins", sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  text-align: center;
  font-weight: 600;
}
.login-container {
  background-color: #2b1447;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  height: 93vh;
  width: 80%;
  border: 1px solid #d3bbeb85;
}
form {
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form label {
  width: 100%;
  max-width: 300px;
  text-align: left;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #ffffffb3;
}
.forget-password-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
  width: 100%;
  max-width: 300px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
  color: #ffffff70;
}
.Signup-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
  width: 100%;
  max-width: 300px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff70;
}
.left-section {
  background-image: url("/resources/login_and_register_images/login_cover_section.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;

  color: white;
  text-align: left;
}

.left-section h1 {
  font-size: 1.7rem;
  font-weight: bold;
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.left-section p {
  margin-top: 10px;
  font-size: 1.1rem;
  opacity: 0.9;
}
#left-content {
  margin-top: 20%;
}

.right-section {
  padding: 5%;
  flex: 1;
  background-color: #2b1447;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.right-section .form-control {
  background: linear-gradient(
    to bottom,
    #ffffff00 4%,
    #ffffff17 40%,
    #ffffff24 56%
  );
  background-color: transparent;
  border: 1px solid #7d5fa4;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 14px;
  backdrop-filter: blur(300px);
  width: 100%;
  max-width: 300px;
  color: white;
  font-size: 1rem;
}
.right-section .form-control:hover {
  background: linear-gradient(to bottom, #472663 4%, #3c1e5e 40%, #3c1e5e 56%);
  background-color: transparent;
  box-shadow: 0px 0px 8px rgba(171, 98, 245, 0.8);
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 14px;
  backdrop-filter: blur(300px);
  width: 100%;
  max-width: 300px;
  color: rgb(249, 186, 245);
  font-size: 1rem;
}

.right-section .form-control:focus {
  background-color: #2b1448 !important;
  background: #2b1448 !important;
  border: 1px solid #a075d8 !important;
  box-shadow: 0px 0px 8px rgba(171, 98, 245, 0.8);
}

#submitButton,
#submitEmailButtonUpdate {
  background-color: #6c1cbc;
  border: none;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 14px;
  backdrop-filter: blur(300px);
  width: 100%;
  max-width: 300px;
  color: white;
  font-size: 1rem;
}
#submitButton:hover,
#submitEmailButtonUpdate {
  background: linear-gradient(to bottom, #9055c3 4%, #7845b3 40%, #7845b3 56%);
  background-color: transparent;
  box-shadow: 0px 0px 8px rgba(171, 98, 245, 0.8);
}

button.btn-google {
  background-color: white;
  background: linear-gradient(to top, #ffffffaf 4%, #ffffffdf 40%, #ffffff 66%);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  width: 90%; /* Match input width */
  max-width: 300px;
  border-radius: 14px;
  border: 1px solid #ffffff60;
  font-size: 1rem;
}
button.btn-google:hover {
  background-color: white;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  width: 90%;
  max-width: 300px;
  border-radius: 14px;
  border: 1px solid #ffffff60;
  font-size: 1rem;
}

button.btn-google img {
  width: 20px;
}

.right-section h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.form-control::placeholder {
  color: #ffffff30;
  font-size: 0.9rem;
}
.divider-container .divider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  color: #ffffff;
}
.divider-container .divider::before,
.divider-container .divider::after {
  content: "";
  flex: 2;
  height: 0.09vh;
  background-color: #d5d5d5;
}
.divider-container .divider span {
  margin: 0 10px;
  font-size: 0.85rem;
  color: #ffffff60;
}
* {
  box-sizing: border-box;
}

#signupParagraph {
  font-size: 0.8rem;
  width: 80%;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
  width: 100%;
  max-width: 300px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
  color: #ffffff70;
}
@media (max-height: 500px) {
  .login-container {
    flex-direction: column;
    height: auto;
    margin: 5% 0;
    width: 80%;
  }

  .left-section,
  .right-section {
    flex: 1;
    height: auto;
    padding: 20px;
  }

  .left-section {
    text-align: center;
  }

  .right-section {
    padding: 20px;
  }
  label {
    text-align: left;
  }
}
@media (max-width: 576px) {
  .left-section h1 {
    font-size: 1.4rem;
  }

  .left-section p {
    font-size: 1rem;
  }

  #signupParagraph {
    font-size: 0.75rem;
    text-align: center;
  }
}
